section {
  border: 1px solid red;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  border: 1px solid red;
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
  min-height: 1.2em;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px
}

.two-columns__paragraph {
  min-height: 34px;
  font-size: 24px;
  margin: 0;
}

.two-columns__paragraph_middle {
  margin: 30px 0;
}

.two-columns__span {
  font-weight: bold;
}

.feynman {
  height: 890px;
  position: relative;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}

.feynman__title {
  min-height: 1.15em;
  width: 648px;
  font-size: 120px;
  font-weight: bold;
  margin: 100px auto 0;
  text-align: center;
}

.feynman__subtitle {
  min-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px auto 0;
  text-align: center;
}

.feynman__link {
  min-height: 75px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
}
